{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  <div class="post-list">전체 소식</div>
  {% if user %}
  <div>
    <form id="twit-form" action="/post" method="post">
      <div class="input-group">
        <textarea id="twit" name="content" maxlength="140"></textarea>
      </div>
      <div>
        <button id="twit-btn" type="submit" class="btn">글 작성</button>
      </div>
    </form>
  </div>

  {% endif %}

  <div class="twits">
    {% for twit in twits %}
    <div class="twit">
      <input type="hidden" value="{{twit.User.id}}" class="twit-user-id" />
      <input type="hidden" value="{{twit.id}}" class="twit-id" />
      <div class="twit-author">{{twit.User.nick}}</div>
      <div class="twit-content">{{twit.content}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
