{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  <h2>내가 작성한 글</h2>
  <div class="mytwits">
    {% for twit in twits %}
    <div class="twit">
      <input type="hidden" value="{{twit.User.id}}" class="twit-user-id" />
      <input type="hidden" value="{{twit.id}}" class="twit-id" />
      <div class="twit-author">{{twit.User.nick}}</div>
      <div class="twit-content">{{twit.content}}</div>
    </div>
    <div class="mod-del">
      <form id="mod-del-form" action="/post/update" method="post">
        <input type="hidden" value="{{twit.id}}" name="id" />
        <input id="update-content" type="text" name="content" />
        <button id="mod-btn" type="submit" class="btn">수정</button>
      </form>
      <form id="mod-del-form" action="/post/delete" method="post">
        <input type="hidden" value="{{twit.id}}" name="id" />
        <button id="del-btn" type="submit" class="btn">삭제</button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
